.botao {
    font-family: var(--fonte);
    background-color: var(--azul-principal);
    color: var(--branco);
    padding: 1rem;
    font-weight: var(--fonte-peso-botao-mobile);
    font-size: 0.875rem;
    text-decoration: none;
    text-align: center;
    border: none;
}

.botao-secundario {
    font-family: var(--fonte);
    background-color: transparent;
    border: solid 1px var(--azul-principal);
    color: var(--azul-principal);
    font-weight: var(--fonte-peso-botao-mobile);
    padding: 1rem;
    font-size: 0.875rem;
    text-decoration: none;
    text-align: center;
}

.botao:hover {
    background-color: var(--azul-botao-hover);
}

.botao-secundario:hover {
    background-color: var(--azul-botao-secundario-hover);
}

@media screen and (min-width: 1024px) {
    .botao {
        font-size: 1rem;
        font-weight: var(--fonte-peso-botao-desktop);
    }

    .botao-secundario {
        font-size: 1rem;
        font-weight: var(--fonte-peso-botao-desktop);
    }
}
