.login {
    background-color: var(--cinza-fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 2.6rem 4.75rem;
}

.login h1 {
    font-size: 1rem;
    font-weight: var(--fonte-peso-destaque);
    padding-bottom: 1rem;
}

.login input {
    margin-bottom: 1rem;
    font-size: 1rem;
    width: 95%;
    padding: 0.8rem;
    max-width: 20rem
}

.login a {
    width: 6.8rem;
    text-align: center;
}


@media screen and (min-width: 768px) {
    .login {
        padding: 4rem 2.6rem 4rem;
    }

}

@media screen and (min-width: 1024px) {
    .login {
        padding: 5rem;
    }

    .login input {
        max-width: 22rem;
        padding: 1rem;
    }

    .login a {
        width: 22rem;
    }

 
}

@media screen and (min-width: 1440px) {
    .login {
        padding: 6rem;
    }

    .login h1 {
        font-size: 1.125rem
    }
    
    .login input {
        max-width: 26rem;
    }

    .login a {
        width: 26rem;
        font-size: 1.125rem;
    }
}

@media screen and (min-width: 1920px) {
    .login {
        padding: 20rem 10rem;
    }
    
    .login input {
        max-width: 50rem;
        padding: 1.5rem;
    }

    .login a {
        width: 50rem;
        font-size: 1.125rem;
        padding: 1.5rem;
    }
   
}